<section class="flex justify-center items-center h-screen bg-gray-100">
  <div class="max-w-md w-full bg-white rounded p-6 space-y-4">
    <h2 class="text-2xl font-semibold mb-4 text-center text-sky-600">Авторизация</h2>

    <div class="mb-4">
      <label for="email" class="block mb-2">Name:</label>
      <input type="email" id="email" [(ngModel)]="email" required class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600">
    </div>

    <div class="mb-4">
      <label for="password" class="block mb-2">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" required class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600">
    </div>

    <button (click)="login()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Login
    </button>

    <div class="flex items-center justify-between">
      <div class="flex flex-row items-center">
        <label class="ml-2 text-sm font-normal text-gray-600">Нет аккаунта?</label>
      </div>
      <div>
        <a class="text-sm text-blue-600 hover:underline" routerLink="/sign-up">Регистрируйтесь!</a>
      </div>
    </div>

  </div>
</section>
