<section class="flex justify-center items-center h-screen bg-gray-100">
  <div class="max-w-md w-full bg-white rounded p-6 space-y-4">
    <h2 class="text-2xl font-bold mb-4">Sign Up</h2>
    <div *ngIf="errorMessage" class="mb-4 text-red-500">{{ errorMessage }}</div>

    <div class="mb-4">
      <label class="block mb-2" for="role">Select Role:</label>
      <select [(ngModel)]="role"
              class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600"
              id="role">
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
    </div>

    <div class="mb-4">
      <label class="block mb-2" for="name">Name:</label>
      <input [(ngModel)]="name"
             class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600"
             id="name" required
             type="text">
    </div>

    <div class="mb-4">
      <label class="block mb-2" for="email">Email:</label>
      <input [(ngModel)]="email"
             class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600"
             id="email" required
             type="email">
    </div>

    <div class="mb-4">
      <label class="block mb-2" for="password">Password:</label>
      <input (change)="validatePassword()" [(ngModel)]="password"
             class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600"
             id="password"
             required
             type="password">
    </div>

    <button (click)="signup()"
            class="w-full py-4 bg-blue-600 hover:bg-blue-700 rounded text-sm font-bold text-gray-50 transition duration-200">
      Регистрироваться
    </button>

    <div class="flex items-center justify-between">
      <div class="flex flex-row items-center">
        <label class="ml-2 text-sm font-normal text-gray-600">Уже есть аккаунт?</label>
      </div>
      <div>
        <a class="text-sm text-blue-600 hover:underline" routerLink="/login">Войти</a>
      </div>
    </div>
  </div>
</section>
