<div class="p-4">
  <h2 class="text-2xl font-bold mb-4">Создание задачи</h2>
  <form (submit)="addTask()">
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700" for="title">Названия:</label>
      <input [(ngModel)]="task.title"
             class="mt-1 block w-full rounded-md border-2 border-gray-100 shadow-sm p-2 focus:outline-none focus:shadow-lg transition duration-200"
             id="title" name="text-title" required
             type="text">
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700" for="project">Проект:</label>
      <input [(ngModel)]="task.project"
             class="mt-1 block w-full rounded-md border-2 border-gray-100 shadow-sm p-2 focus:outline-none focus:shadow-lg transition duration-200"
             id="project" name="text-project" required
             type="text">
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700" for="type">Тип:</label>
      <input [(ngModel)]="task.type"
             class="mt-1 block w-full rounded-md border-2 border-gray-100 shadow-sm p-2 focus:outline-none focus:shadow-lg transition duration-200"
             id="type" name="text-type" required
             type="text">
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700" for="deadline">Крайний срок:</label>
      <input [(ngModel)]="task.deadline"
             class="mt-1 block w-fit rounded-md border-2 border-gray-100 shadow-sm p-2 focus:outline-none focus:shadow-lg transition duration-200"
             id="deadline" name="date-deadline" required
             type="date">
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700" for="planned">Запланировано:</label>
      <input [(ngModel)]="task.planned"
             class="mt-1 block w-fit rounded-md border-2 border-gray-100 shadow-sm p-2 focus:outline-none focus:shadow-lg transition duration-200"
             id="planned" name="datetime-local-planned" required
             type="datetime-local">
    </div>
    <div class="mb-4">
      <button
        class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded-md hover:bg-blue-700"
        type="submit">
        Создать задачу
      </button>
    </div>
  </form>
</div>
